[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
boto3 = "*"
python-dotenv = "*"
flask-cognito = "*"
flask-dynamo = "*"

[requires]
python_version = "3.8"
