<!doctype html>
<title>{% block title %}{% endblock %} - Bastard File Share</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Bastard File Sharing Service</h1>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.mylogin') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<div class="content">
    {% if g.user %}
    <div>
      <h3>Upload your file here:</h3>
      <form method="POST" action="/upload" enctype=multipart/form-data>
        <input type=file name=file>
        <input type=submit value=Upload>
      </form>
    </div>
    <h3>Your files:</h3>
    <p>Click on the filename to download.</p>
    <p>To share files, check and click 'Share Files'.</p>
    <form action="/share" method="POST" name="share_file">
      <table class="table is-striped is-fullwidth">
        {% for owned_file in owned_files %}
            <tr>
                <td>
                    {% if owned_file %}
                  <label class="checkbox">
                      <input type="checkbox" name="share_files" value="{{ owned_file.Key }}"/>
                  </label>
                    <a href="/download/{{ owned_file.Key }}"> {{ owned_file.Key }} </a>
                    {% endif %}
                  </td>
            </tr>
        {% endfor %}
      </table>
          <div class="field is-grouped">
            <div class="control">
              <button class="button">Share Files</button>
            </div>
          </div>
    </form>
    <h3>Files shared with you:</h3>
          <table>
        {% for shared_file in shared_files %}
            <tr>
                <td>
                    {% if shared_file %}
                        <a href="/download/{{ shared_file.Key }}"> {{ shared_file.Key }} </a>
                    {% endif %}
                </td>
            </tr>
          </table>
        {% endfor %}
</div>
    {% else %}
    <h4>Please sign in or register to continue.</h4>
    {% endif %}
