<!doctype html>
<title>{% block title %}{% endblock %} - FileShare</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Your S3 file storage</h1>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.mylogin') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<div class="content">
    <h3>Flask Drive</h3>
    <p>Welcome to your AWS S3 storage client</p>
    <div>
      <h3>Upload your file here:</h3>
      <form method="POST" action="/upload" enctype=multipart/form-data>
        <input type=file name=file>
        <input type=submit value=Upload>
      </form>
    </div>
    <div>
      <h3>Here are your stored files:</h3>
      <p>Click on the filename to download it.</p>
      <ul>
        {% for item in contents %}
          <li>
            <a href="/download/{{ item.Key }}"> {{ item.Key }} </a>
          </li>
        {% endfor %}
      </ul>
    </div>
</div>
